* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body { 
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  width: 1100px;
  margin: 0px auto;
}

form {
  margin: 60px auto 30px auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  width: 700px;
  padding: 25px 0px;
}

form h1 {
  font-size: 40px;
  margin: 0px 0px 15px 0px;
}

form select {
  margin-right: 5px;
  font-size: 20px;
  padding: 4px;
  border: 1px solid black;
}

form select:hover {
  cursor: pointer;
}

form input {
  margin: 0px 5px 0px 0px;
  font-size: 20px;
  padding: 4px;
  border-radius: 5px;
  border: 1px solid black;
}

form button {
  font-size: 20px;
  padding: 4px;
  width: 70px;
  border-radius: 5px;
  border: none;
  background-color: blue;
  color: white;
}

form button:hover {
  cursor: pointer;
}

.listOfNews__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 500px;
  margin: 30px auto;
  outline: 1px solid black;
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 25px;
  font-weight: 700;
  padding: 20px;
}

.card__img img{
  width: 500px;
}

.card__description {
  font-size: 16px;
  padding: 0px 20px 20px 20px;
  flex: 1 1 auto;
}

.card__source {
  padding: 0 20px 20px 20px;
  text-align: center;
  flex: 0 0 auto;
}

.card__source a {
  text-decoration: none;
  font-size: 18px;
}

.loader{
  position: fixed;
  top: 0px;
  text-align: center;
  animation: loader 1s ease-in-out infinite;
  background-color: blue;
  height: 7px;
}

@keyframes loader {
  0% {
    width: 0%;
  }
  
  100% {
    width: 100%;
    opacity: 0;
  }
}